pipeline/PL_GetUrl.json
{
	"name": "PL_GetUrl",
	"properties": {
		"activities": [
			{
				"name": "URLForEmailNotif",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@pipeline().globalParameters.URLEmailNotification",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "URLForEmailNotif",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "URLlink",
					"value": {
						"value": "@activity('URLForEmailNotif').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@activity('URLForEmailNotif').output.value",
						"type": "Expression"
					},
					"body": {
						"value": "{\n        \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n        \"message\": \"message from my pipe with run ID @{pipeline().RunId}.\",\n        \"pipelineName\": \"@{pipeline().Pipeline}\",\n        \"pipelineStatusRun\": \"@{activity('Copy data1').output.executionDetails[0].status}\",\n        \"receiver\": \"@{pipeline().parameters.Receiver}\"\n        }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_Source_azurementoringauky",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADSL_azurementoringauky",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@activity('URLForEmailNotif_copy1').output.value",
						"type": "Expression"
					},
					"body": {
						"value": "{\n        \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n        \"message\": \"message from my pipe with run ID @{pipeline().RunId}.\",\n        \"ErrorMessage\": \"@{activity('Copy data1').output.errors[0].Message}\",\n        \"pipelineName\": \"@{pipeline().Pipeline}\",\n        \"pipelineStatusRun\": \"@{activity('Copy data1').output.executionDetails[0].status}\",\n        \"receiver\": \"@{pipeline().parameters.Receiver}\"\n        }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "URLForEmailNotif_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@pipeline().globalParameters.URLEmailNotification",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "URLForEmailNotif_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "URLlink",
					"value": {
						"value": "@activity('URLForEmailNotif_copy1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Receiver": {
				"type": "string",
				"defaultValue": "Kseniya_Yurkova@epam.com"
			}
		},
		"variables": {
			"URLlink": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-22T10:04:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}