pipeline/PL_IncLoadCinemaTickets.json
{
	"name": "PL_IncLoadCinemaTickets",
	"properties": {
		"activities": [
			{
				"name": "OldWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TruncateStage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(WatermarkValue) as OldWatermarkvalue from dbo.watermarktable\nwhere TableName = 'stg.cinema_tickets'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureWatermarkOld",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NewWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TruncateStage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(TransactionDt) as NewWatermarkvalue from dbo.Tickets",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SourceOnPremTickets",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.Tickets  where TransactionDt > '@{activity('OldWatermark').output.firstRow.OldWatermarkvalue}' and TransactionDt <= '@{activity('NewWatermark').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "movie_id",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "ticket_count",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								},
								"sink": {
									"name": "transaction_date",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_IncLoadSingleTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SinkStgCinemaTicketsSrc",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "TruncateStage",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "    TRUNCATE TABLE [stg].[cinema_tickets]\nselect 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SinkStgCinemaTicketsSrc",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UpdateOldWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('NewWatermark').output.firstRow.NewWatermarkvalue\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "stg.cinema_tickets",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_azurementoringky_mssql_movies",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "RunIncLoadToAzureDB",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LoadCinemaData]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_azurementoringky_mssql_movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-06T12:39:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}