pipeline/PL_OncCopyFilesFromBlobToBlob.json
{
	"name": "PL_OncCopyFilesFromBlobToBlob",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MaxDateIncCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('MaxDateIncCopy').output.firstRow.FromDateTime",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@activity('MaxDateIncCopy').output.firstRow.ToDateTime",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_BlobOnlineData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SinkInkOnlineBlob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MaxDateIncCopy",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(LastModifiedDate) as FromDateTime, GETUTCDATE() as ToDateTime from dbo.watermarkcopy",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Watermarkcopy_Cur",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark_copyink]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('MaxDateIncCopy').output.firstRow.ToDateTime",
								"type": "Expression"
							}
						},
						"TableName": {
							"value": "Test"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_azurementoringky_mssql_movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-11T10:28:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}